<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome {{ user.username }}</h1>

    <h2>Your Shifts</h2>
    <table border="1">
        <tr>
            <th>Shift ID</th>
            <th>Clock In</th>
            <th>Clock Out</th>
            <th>Total Hours</th>
            <th>Actions</th>
        </tr>
        {% for shift in shifts %}
        <tr>
            <td>{{ shift.id }}</td>
            <td>{{ shift.clock_in_time }}</td>
            <td>{{ shift.clock_out_time }}</td>
            <td>{{ shift.total_hours }}</td>
            <td>
                {% if not shift.clock_in_time %}
                    <a href="{% url 'clock_in' shift.id %}">Clock In</a>
                {% endif %}
                {% if shift.clock_in_time and not shift.clock_out_time %}
                   <a href="{% url 'clock_out' shift.id %}">Clock Out</a>
                    <a href="{% url 'start_break' shift.id 'paid' %}">Start Paid Break</a>
                    <a href="{% url 'end_break' shift.id 'paid' %}">End Paid Break</a>
                    <a href="{% url 'start_break' shift.id 'unpaid' %}">Start Unpaid Break</a>
                    <a href="{% url 'end_break' shift.id 'unpaid' %}">End Unpaid Break</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>